<p>War Working</p>
<p *ngIf="deck">Deck: {{deck.deck_id}}</p>
<div class="player_input">
  <label for="p1_name">Player 1:
    <input id="p1_name" [(ngModel)]="player1.name">
  </label>
  <label for="p2_name">Player 2:
    <input id="p2_name" [(ngModel)]="player2.name">
  </label>
</div>
<button (click)="dealCards()">Deal</button>
<button (click)="shuffleDeck()">Shuffle</button>
<p *ngIf="draw">Cards Dealt from deck {{deck.deck_id}}</p>
<button *ngIf="draw && draw.remaining === 0" (click)="playCards()">{{this.war ? 'War!' : 'Play!'}}</button>
<div class="game">
  <div class="player">
    <h2>{{player1.name}}</h2>
    <p>Cards: {{player1.remaining}}</p>
    <img *ngIf="player1.currentCard" src={{player1.currentCard.image}}
      alt="Image of {{player1.currentCard.value}} of {{player1.currentCard.suit}}">
  </div>
  <h2 *ngIf="war">WAR!</h2>
  <div class="player">
    <h2>{{player2.name}}</h2>
    <p>Cards: {{player2.remaining}}</p>
    <img *ngIf="player2.currentCard" src={{player2.currentCard.image}}
      alt="Image of {{player2.currentCard.value}} of {{player2.currentCard.suit}}">
  </div>
</div>
<div class="result">
  <h2 *ngIf="winner">{{winner.name}} Wins!</h2>
</div>